.navbar{
    font-size: 18px;
    margin-bottom: 0px;
    .fa{
        font-size: 18px;
    }
}
.hero-section{
    background: url("../img/bg-hero2.jpeg");
    background-size: cover;
    padding: 250px 0px;
    margin-bottom: 0px;

    .container{
        background: #ddd6d6;
        opacity: 0.7;
        padding: 50px;
        color: #8d2318;
    }
    .btn{
        border-radius: 5px;
    }
}
.boxes{
    background-color: #f9fcfc;
    text-align: center;
    padding: 30px 0;

    .fa{
        font-size: 100px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}
footer{
    background-color: #8d2318;
    margin: 30px 0px;
    .container{
        background-color: #8d2318;
    }
    .panel{
        margin-top: 10px;
        background-color: #8d2318;
        border: none;
        color:white;
    }
    .fa{
        font-size:40px;
        color: white;
        margin-right: 10px;
    }
    a{
        color:white;
    }
    a:hover{
        color:#8d2318;
    }
}